body {
	background-image: url("Background.jpg");
	background-size:cover;
}

h1,h2,h3,h4,h5,h6,p{
	font-family: Georgia;
	font-style: italic;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	text-align: center;
}

#current{ 
	text-decoration:underline;	
}

nav{
	width: 80%;
	height: 80px;
	margin: 10px auto 0px auto;
}

nav a{
	color:white;
}

nav a:hover{
	color:blue;
}

.navLink{
	position:relative;
	float:left;
	width:20%;	
	height:76px;
}

#current{ 
	text-decoration:underline;	
}

.container{
	position:relative;
	width: 80%;
	margin: 0px auto 0px auto;
	border: 3px black solid;
}
.container h1{
	color:white;
}
.container p{
	color:white;
}


.video_contain{
display: block;
position: absolute;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
}

.justdoit {
min-width: 100%;
 min-height: 100%;
z-index: -100;
background-position: center;
background-size: cover;
}

.div2 {
    display: table;
    margin: 0 auto;
}

.KKona {
    background-image: url("../Images/KKona.png");
    background-repeat: repeat-y repeat-x;
    height:500px;	
}
ul{
	color:white;
}

.centered {
 	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 650px;
}

body {
	margin: 0;
	padding: 0;
}